vim/_vim/plugged/
vim/_vim/spell/
vim/_vim/templates/
bin/month_balance
bin/motivation.py
bin/motivation
gedit/gedit-metadata.xml
vim/_vim/.netrwhist
config/gtk-3.0/bookmarks
bin/300_dpi
bin/dpi
bin/journal
bin/kubectl
bin/kubelogin
bin/plot_res

